<div class="adminContentMain">
    <div class="breadcrumbsListing">
        <ul>
            <li><a routerLink="/factory/sales/order-list/">{{ 'Common.order'  | translate}}</a></li>
            <li>{{ 'Common.sales'  | translate}}</li>
        </ul>
    </div>
    <div class="adminContentInner">
        <div class="adminContentHeader salesTrans">
            <div class="adminContentTitle">
                <div class="acTitleIcon">
                    <span class="material-icons">
                        shopping_cart
                    </span>
                </div>
                <div class="acTitleText">{{ 'Common.transactionList'  | translate}}</div>
            </div>
        </div>
        <div class="adminContentMiddle">
            <!-- Table Data Start -->
            <div class="adminContentTableListing">
                <div class="adminContentTableHeader salesTrans">
                    <div class="acTableHeaderLeft">
                        <label class="acTblpageCounter">{{ 'Common.show'  | translate}}
                            <mat-form-field>
                                <mat-select [value]=pageSize>
                                    <mat-option [value]=item (click)="getPageSize(item)"
                                        *ngFor="let item of pageSizeOptions">{{item}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            {{ 'Common.entries'  | translate}}
                        </label>
                    </div>
                    <div class="acTableHeaderRight">
                        <div class="acTblSearchField">
                            <app-simple-search (change)="searchFunction($event)" class="search-element normal-animation"></app-simple-search>

                            <form [formGroup]="transForm">
                                <mat-form-field>
                                    <input #from (dateChange)="getFromDate(from.value,$event)" [max]="maxDate" matInput [matDatepicker]="picker" placeholder="From">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field *ngIf="minDate && maxDate">
                                    <input #to (dateChange)="getToDate(to.value)" formControlName="toDate" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker1" placeholder="To">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field *ngIf="!minDate">
                                    <input #to (dateChange)="getToDate(to.value)" formControlName="toDate" [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker1" placeholder="To" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                                <button class="hytx-btn hytx-btn-orange" (click)="transactionDownload()" [disabled]="!downloadButton">
                                    <span >{{ 'Common.download'  | translate}}</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of Content toolbar -->
                <div class="adminContentTableMiddle">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="getSortData($event)"
                        class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="id">
                                {{ 'Common.orderId'  | translate}}</th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="customer_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="customer_name">
                                {{ 'Common.customerName'  | translate}}</th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="commission_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="commission_amount">
                                {{ 'Common.commissionAdmin'  | translate}}</th>
                            <td mat-cell *matCellDef="let element"> {{element.commission_amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="total_amount">
                                {{ 'Common.orderAmount'  | translate}}</th>
                            <td mat-cell *matCellDef="let element">{{(!element.total_amount
                            ) ? 0 : element.total_amount | currency}}</td>
                        </ng-container>

                        <ng-container matColumnDef="txn_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="txn_date">
                                {{ 'Common.orderPlaced'  | translate}}</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.txn_date}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>{{ 'Common.action'  | translate}}</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="tblIcons">
                                    <span class="material-icons"
                                        routerLink="/factory/sales/order-view/{{element.id}}">remove_red_eye</span>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <app-empty-data *ngIf="dataEmpty"></app-empty-data>
                    <div class="adminContentTableFooter">
                        <div class="acTableFooterLeft">
                            <label class="acTblEntryHistory">{{ 'Common.showing'  | translate}} {{startPage}}
                                {{ 'Common.to'  | translate}} {{endPage}} of {{totalRecords}}
                                {{ 'Common.entries'  | translate}}</label>
                        </div>
                        <div class="acTableFooterRight">
                            <div class="acTblPagination">
                                <div class="pagination" *ngIf="totalRecords">
                                    <mat-paginator [length]="totalRecords"
                                        [pageSize]="pageSize"
                                        [pageSizeOptions]="pageSizeOptions"
                                        (page)="pageChanged($event)"
                                        [hidePageSize]="true"
                                        [showFirstLastButtons]="true"
                                    >
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Table Data End -->
            </div>
        </div>
    </div>
</div>