<div class="adminContentMain">
    <div class="breadcrumbsListing">
        <ul>
            <li><a href="javascript:void(0)" routerLink="/factory/product">{{ 'Common.productManagement'  | translate}}</a></li>
            <li >{{ 'Common.addNew'  | translate}}</li>
        </ul>
    </div>
    <div class="adminContentInner">
        <div class="adminContentHeader">
            <div class="adminContentTitle">
                <div class="acTitleIcon"><span class="material-icons"> menu_book </span></div>
                <div class="acTitleText">{{ 'Common.addProduct'  | translate}}</div>
            </div>
        </div>
        <div class="adminContentFormMain formInTwoColumn">
            <div class="adminTabsmain">
                <div class="mat-tab-header mat-tab-custom-header">
                    <app-product-tab [infostatus]="infostatus" [productId]="productId" currentTab = "general" [addNew]="addNew"  ></app-product-tab>
                </div>
                <form [formGroup]="dataForm" (ngSubmit)="(!productId) ? addProduct() : updateProduct()"
                    autocomplete="off">
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{ 'Common.productName'  | translate}} *"
                                    [(ngModel)]="userData.name" formControlName="name" autocomplete="off" />
                                <mat-error *ngIf="hasError('name')">{{ 'errorMessage.' + hasError('name')  | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <textarea rows="3" matInput placeholder="{{ 'Common.description'  | translate}} *"
                                    [(ngModel)]="userData.description" formControlName="description"
                                    autocomplete="off"></textarea>
                                <mat-error *ngIf="hasError('description')">
                                    {{ 'errorMessage.' + hasError('description')  | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{ 'Common.metaTagTitle'  | translate}}"
                                    [(ngModel)]="userData.meta_tag_title" formControlName="meta_tag_title"
                                    autocomplete="off" />
                                <mat-error *ngIf="hasError('meta_tag_title')">
                                    {{ 'errorMessage.' + hasError('meta_tag_title')  | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{ 'Common.metaDescription'  | translate}}"
                                    [(ngModel)]="userData.meta_description" formControlName="meta_description"
                                    autocomplete="off" />
                                <mat-error *ngIf="hasError('meta_description')">
                                    {{ 'errorMessage.' + hasError('meta_description')  | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{ 'Common.metaTagKeyword'  | translate}}"
                                    [(ngModel)]="userData.meta_tag_keyword" formControlName="meta_tag_keyword"
                                    autocomplete="off" />
                                <mat-error *ngIf="hasError('meta_tag_keyword')">
                                    {{ 'errorMessage.' + hasError('meta_tag_keyword')  | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <mat-chip-list #chipList aria-label="tags">
                                    <mat-chip *ngFor="let item of tagsList; let i = index" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove(item)">
                                        {{item.title}}
                                        <div>
                                            <span matChipRemove *ngIf="removable" class="material-icons">
                                                clear
                                            </span>
                                        </div>
                                    </mat-chip>
                                    <input matInput placeholder="{{ 'Common.producttags'  | translate}}" formControlName="tag_list"
                                        [errorStateMatcher]="matcher" [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                    <mat-error style="position: absolute;
                                    margin-top: 32px;font-size: 12px;" *ngIf="hasError('tags')">
                                    {{ 'errorMessage.' + hasError('tags')  | translate}}
                                    </mat-error>
                                </mat-chip-list>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12 hytx-from-buttons">
                            <button class="hytx-btn hytx-btn-orange" type="submit" [disabled]="dataForm.invalid">
                                <span *ngIf="!productId">{{ 'Common.add'  | translate}}</span>
                                <span *ngIf="productId">{{ 'Common.update'  | translate}}</span>
                            </button>
                            <button class="hytx-btn hytx-btn-black-outline" [routerLink]="['/factory/product/']">{{ 'Common.back'  | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>