<div class="login-page">
    <div class="content px20">
      <div class="logo"><img src="assets/images/logo.png" alt=""></div>
        <form class="login-form" form [formGroup]="resetPsdForm" (ngSubmit)="resetPassword()" autocomplete="off">
          <!-- <div class="loginBoxTitle">
              <h2 class="app-name">{{'Common.resetPassword' | translate}}</h2>
          </div> -->
          <div class="loginBoxSubTitle">
            <p>{{'Common.Now you can create new password' | translate}}</p>
          </div>
          <div fxLayout="row">
            <div fxFlexFill>
              <mat-form-field class="w-100">
                  <input matInput placeholder="{{'Common.Enter verification code' | translate}} *" [(ngModel)]="verificationCode" formControlName="otp" [errorStateMatcher]="matcher" autocomplete="off"/>
                  <mat-error *ngIf="hasError('otp')">{{ 'errorMessage.' + hasError('otp')  | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row">
              <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password"  placeholder="{{'Common.password' | translate}} *" [(ngModel)]="newpassword" formControlName="new_password" [errorStateMatcher]="matcher" autocomplete="off"/>
                    <mat-error *ngIf="hasError('new_password')">{{ 'errorMessage.' + hasError('new_password')  | translate}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlexFill>
                <mat-form-field class="w-100">
                  <input matInput type="password" placeholder="{{'Common.confirmPassword' | translate}} *" formControlName="confirmPassword" autocomplete="confirmPassword" (keyup)="validateMatchPass()"  [errorStateMatcher]="matcher"/>
                    <!-- <input matInput type="password"  placeholder="Confirm Password *" [(ngModel)]="confirmNewPassword" formControlName="confirmPassword" [errorStateMatcher]="matcher" autocomplete="off"/> -->
                    <mat-error *ngIf="hasError('confirmPassword')">{{ 'errorMessage.' + hasError('confirmPassword')  | translate}}</mat-error>
                </mat-form-field>
              </div>
            </div>



          <div fxLayout="row">
            <div fxFlexFill class="bottomButtons">
              <button type="submit" class="hytx-btn hytx-btn-orange hytx-btn-lg w-100" [disabled]="resetPsdForm.invalid">{{'Common.save' | translate}}</button>
            </div>
          </div> 
          <div fxLayout="row" class="hytx-justify-content-between">
            <div class="bottomButtonsLinks text-left">
              <a href="javascript:void(0)" routerLink="/account/login">{{'Common.backToLogin' | translate}}</a>
            </div>
            <div class="bottomButtonsLinks text-right">
              <a href="javascript:void(0)"  (click)="resendOtp()">Resend Code</a>
            </div>
          </div> 
      </form>
    </div>
  </div> 
