<div class="adminContentMain profilePage">
    <div class="breadcrumbsListing">
        <ul>
            <li>Account</li>
        </ul>
    </div>
    <div class="adminContentInner">
        <div class="adminContentHeader">
            <div class="adminContentTitle">
                <div class="acTitleIcon"><span class="material-icons">
                        settings
                    </span></div>
                <div class="acTitleText">Account Setting</div>
            </div>
        </div>
        <div class="adminContentMiddle">
            <div class="adminTabsmain">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Basic">
                        <!-- Admin Form Start -->
                        <div class="adminContentFormMain formInTwoColumn">
                            <form [formGroup]="profileForm" (ngSubmit)="profile()" autocomplete="off">
                                <div class="hytx-row">
                                    <div class="hytx-col-12">
                                        <div class="UploadImageBoxCover">
                                            <!-- <app-upload-avatar (click)="upload()">
                                                <app-image size="80"
                                                    [placeholderName]="userData.userName"
                                                    [imageUrl]="userData.userAvatar"></app-image>
                                                </app-upload-avatar> -->
                                            <i class="icon icon-account_circle" *ngIf="!imgPreview"></i>
                                            <div class="avatar">
                                                <img [src]="imgPreview" alt="Profile Image" *ngIf="imgPreview">
                                            </div>
                                            <div class="browseBtnTxt"><span (click)="file.click()">Change Image</span>
                                            </div>
                                            <input type="file" name="myfile" #file accept="image/*"
                                                (change)="fileChange($event)" (click)="file.value = null"
                                                class="display-none">
                                            <div class="mat-error error-div" *ngIf="imageError">
                                                {{imageError}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Agent Code" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                               
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="First Name *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Last Name *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Email Address *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Phone Number" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Factory Name *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>Type of Business *</mat-label>
                                            <mat-select>
                                                <mat-option value="HomeFurniture">Home/Furniture</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Address Line 1" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Address Line 2" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>Country *</mat-label>
                                            <mat-select>
                                                <mat-option value="USA">USA</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>State *</mat-label>
                                            <mat-select>
                                                <mat-option value="California">California</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>City *</mat-label>
                                            <mat-select>
                                                <mat-option value="Malibu">Malibu</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Zip Code" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <div class="hytx-form-group mt10">
                                            <label class="hytx-form-label">Company Logo</label>
                                            <div class="UploadImageBoxCover">
                                                <i class="icon icon-account_circle" *ngIf="!imgPreview"></i>
                                                <div class="avatar avatar-with-border hasCompanyLogo">
                                                    <img [src]="imgPreview" alt="Profile Image" *ngIf="imgPreview">
                                                </div>
                                                <div class="browseBtnTxt"><span (click)="file.click()">Change Image</span>
                                                </div>
                                                <input type="file" name="myfile" #file accept="image/*"
                                                    (change)="fileChange($event)" (click)="file.value = null"
                                                    class="display-none">
                                                <div class="mat-error error-div" *ngIf="imageError">
                                                    {{imageError}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <div class="hytx-form-group mt10">
                                            <label class="hytx-form-label">Company Banner</label>
                                            <div class="UploadImageBoxCover">
                                                <i class="icon icon-account_circle" *ngIf="!imgPreview"></i>
                                                <div class="avatar avatar-with-border hasCompanyBanner">
                                                    <img [src]="imgPreview" alt="Profile Image" *ngIf="imgPreview">
                                                </div>
                                                <div class="browseBtnTxt"><span (click)="file.click()">Change Image</span>
                                                </div>
                                                <input type="file" name="myfile" #file accept="image/*"
                                                    (change)="fileChange($event)" (click)="file.value = null"
                                                    class="display-none">
                                                <div class="mat-error error-div" *ngIf="imageError">
                                                    {{imageError}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>                             
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Company Description *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                            
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-12 hytx-from-buttons">
                                        <button class="hytx-btn hytx-btn-orange" type="submit"
                                            [disabled]="profileForm.invalid">
                                            <span>Save</span>
                                        </button>
                                        <button class="hytx-btn hytx-btn-black-outline"
                                            routerLink="/admin/dashboard">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Admin Form End -->
                    </mat-tab>
                    <mat-tab label="Payment">
                        <!-- Admin Form Start -->
                        <div class="adminContentFormMain formInTwoColumn">
                            <form [formGroup]="profileForm" (ngSubmit)="profile()" autocomplete="off">
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>Country *</mat-label>
                                            <mat-select>
                                                <mat-option value="USA">USA</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>Affiliate Type *</mat-label>
                                            <mat-select>
                                                <mat-option value="Organization">Organization</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Bank Name *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Bank Account No. *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Swift Code *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                             
                                </div>   
                                <div class="hytx-row">
                                    <div class="hytx-col-12 hytx-from-buttons">
                                        <button class="hytx-btn hytx-btn-orange" type="submit">
                                            <span>Update</span>
                                        </button>
                                        <button class="hytx-btn hytx-btn-black-outline"
                                            routerLink="/admin/dashboard">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Admin Form End -->
                    </mat-tab>
                    <mat-tab label="Other Settings">
                        <!-- Admin Form Start -->
                        <div class="adminContentFormMain formInTwoFullWidth">
                            <form [formGroup]="profileForm" (ngSubmit)="profile()" autocomplete="off">
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Current Password *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="New Password *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                              
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-sm-6">
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Confirm Password *" autocomplete="off" />
                                        </mat-form-field>
                                    </div>                             
                                </div>
                                <div class="hytx-row">
                                    <div class="hytx-col-12">
                                        <div class="mat-form-field-appearance-legacy full-width">
                                            <div class="mat-form-field-wrapper">
                                                <div class="mat-form-label">Language </div>
                                                <mat-radio-group  color="primary" placeholder="Language *" [(ngModel)]="userData.lang_key" formControlName="lang_key" aria-label="Language" >
                                                    <mat-radio-button *ngFor="let item of language; let i = index" value="{{item.value}}">{{item.label |titlecase}}</mat-radio-button>
                                                </mat-radio-group>
                                                <mat-error *ngIf="hasError('lang_key')">{{hasError('lang_key')}}</mat-error>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="hytx-row">
                                    <div class="hytx-col-12">
                                        <div class="mat-form-field full-width">
                                            <div class="mat-form-field-wrapper">
                                                <a href="javascript:void(0)">Deactivate Account</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="hytx-row">
                                    <div class="hytx-col-12 hytx-from-buttons">
                                        <button class="hytx-btn hytx-btn-orange" type="submit">
                                            <span>Update</span>
                                        </button>
                                        <button class="hytx-btn hytx-btn-black-outline"
                                            routerLink="/admin/dashboard">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Admin Form End -->
                    </mat-tab>
                </mat-tab-group>
            </div>


        </div>
    </div>
</div>