$mat-eshipper-primary: (50 : #e9e6f2,
100 : #c8c1de,
200 : #a397c9,
300 : #7e6db3,
400 : #634ea2,
500 : #472f92,
600 : #402a8a,
700 : #37237f,
800 : #2f1d75,
900 : #201263,
A100 : #a99aff,
A200 : #7d67ff,
A400 : #5234ff,
A700 : #3c1aff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

$mat-eshipper-secondary: (50 : #e6f6f7,
100 : #c1e9ec,
200 : #97dae0,
300 : #6dcbd3,
400 : #4ec0c9,
500 : #2fb5c0,
600 : #2aaeba,
700 : #23a5b2,
800 : #1d9daa,
900 : #128d9c,
A100 : #cef9ff,
A200 : #9bf3ff,
A400 : #68edff,
A700 : #4eeaff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));


$mat-eshipper-warn: (50 : #fde3e9,
100 : #f9bac8,
200 : #f68ca3,
300 : #f25d7e,
400 : #ef3b62,
500 : #ec1846,
600 : #ea153f,
700 : #e71137,
800 : #e40e2f,
900 : #df0820,
A100 : #ffffff,
A200 : #ffd4d8,
A400 : #ffa1a9,
A700 : #ff8891,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
