@import './var.scss';

.small-content {
  max-width: 768px;
  margin: 0 auto;
  .logo-row {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
  }
  .card {
    .mat-card-content {
      .checkbox-line {
        &:last-child {
          margin-bottom: 16px;
        }
      }
    }
  }
}
