body {
  color: $textColor;
  font: 14px/24px 'Roboto', sans-serif;
}

p {
  padding: 0 0 24px;
}

// Subtitle
h3,
.subtitle {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 0;
  margin: 0;
  line-height: 24px;
}
