<div class="adminContentMain">
    <div class="breadcrumbsListing">
        <ul>
            <li><a routerLink="/admin/category/category-list/">Attributes</a></li>
            <li>Add New</li>
        </ul>
    </div>
    <div class="adminContentInner">
        <div class="adminContentHeader">
            <div class="adminContentTitle">
                <div class="acTitleIcon"> <svg xmlns="http://www.w3.org/2000/svg" width="36.952" height="22.582" viewBox="0 0 36.952 22.582"><path d="M3,19.344H7.106V15.238H3Zm0,9.238H7.106V24.476H3ZM3,10.106H7.106V6H3Zm8.212,9.238H39.952V15.238H11.212Zm0,9.238H39.952V24.476H11.212ZM11.212,6v4.106H39.952V6Z" transform="translate(-3 -6)" fill="currentColor"/></svg></div>
                <div class="acTitleText">Add Attributes & Options</div>
            </div>
            <div class="acTitleRight">            
                <a href="javascript:void(0)" class="hytx-btn hytx-btn-black-outline">Back</a>               
            </div>
        </div>
        <div class="adminContentMiddle">            
            
            <!-- Admin Form Start -->
            <div class="adminContentFormMain formInWidth810 mt10">
                <form autocomplete="off">
                    <div class="hytx-row">
                        <div class="hytx-col-sm-5 hytx-col-md-4">
                            <mat-form-field class="full-width">
                                <mat-label>Category *</mat-label>
                                <mat-select>
                                    <mat-option value="HomeFurniture">Home/Furniture</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="hytx-col-sm-5 hytx-col-md-4">
                            <mat-form-field class="full-width">
                                <mat-label>Sub Category *</mat-label>
                                <mat-select>
                                    <mat-option value="HomeFurniture">Chair Funiture</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="adminContentTableListing">
                        <div class="adminContentTableMiddle">
                            <div class="adminContentTableMiddle">
                                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="getSortData($event)"
                                    class="mat-elevation-z8 table-bordered">
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="title">
                                        <th width="160" mat-header-cell *matHeaderCellDef mat-sort-header="title"> Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="sorting_order">
                                        <th width="160" mat-header-cell *matHeaderCellDef mat-sort-header="sorting_order">Title</th>
                                        <td mat-cell *matCellDef="let element"> {{element.sorting_order}} </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="subcategory_count">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header="subcategory_count">Values</th>
                                        <td mat-cell *matCellDef="let element">
                                            <a *ngIf="element.subcategory_count"
                                                routerLink="/admin/category/subcategory-list/{{element.id}}">{{element.subcategory_count}}
                                            </a>
                                            <a *ngIf="!element.subcategory_count"
                                                routerLink="/admin/category/subcategory-list/{{element.id}}">0 </a>
                                        </td>
                                    </ng-container>
            
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                                        <td class="text-right" mat-cell *matCellDef="let element">
                                            <div class="tblIcons"><span class="material-icons fs-28">add</span></div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <app-empty-data *ngIf="dataEmpty"></app-empty-data>            
                            </div>
                        </div>                          
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <a class="blueLinkbtn mt15 mb15" href="javascript:void(0)">Add New Attribute & Option</a>
                        </div>
                    </div>
                    <div class="addNewAttrBoxMain">
                        <div class="hytx-row">
                            <div class="hytx-col-12">
                                <div class="mat-form-field-appearance-legacy full-width">
                                    <div class="mat-form-field-wrapper">
                                        <div class="mat-form-label">Type </div>
                                        <mat-radio-group  color="primary" placeholder="Attribute">
                                            <mat-radio-button value="Attribute">Attribute</mat-radio-button>
                                            <mat-radio-button value="Option">Option</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hytx-row">
                            <div class="hytx-col-sm-5 hytx-col-md-4">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Title *" autocomplete="off" />
                                </mat-form-field>                                
                            </div>
                            <div class="hytx-col-sm-7 hytx-col-md-8">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Values *" autocomplete="off" />
                                </mat-form-field>   
                            </div>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12 hytx-from-buttons">
                            <button class="hytx-btn hytx-btn-orange" type="submit">Add</button>
                            <button class="hytx-btn hytx-btn-black-outline">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Admin Form End -->
        </div>        
    </div>
</div>