<div class="adminContentMain">
    <div class="breadcrumbsListing">
        <ul>
            <li><a routerLink="/admin/client">{{ 'Common.client'  | translate}}</a></li>
            <li> {{ pageTitle }} </li>
        </ul>
    </div>
    <div class="adminContentInner">
        <div class="adminContentHeader">
            <div class="adminContentTitle">
                <div class="acTitleIcon"> 
                    <span class="material-icons">
                        contact_support
                    </span>
                </div>
                <div class="acTitleText">{{ pageTitle }} {{ 'Common.client'  | translate}}</div>
            </div>
        </div>
        <div class="adminContentMiddle">             
            <!-- Admin Form Start -->
            <div class="adminContentFormMain formInOneThird">
                <form [formGroup]="clientForm" (ngSubmit)="(!Id) ? add() : update()"  autocomplete="off">
                    <div class="hytx-row">
                        <div class="hytx-col-12">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{'Common.title'|translate}} *" formControlName="title"
                                 autocomplete="off" />
                                <mat-error *ngIf="hasError('title')">{{'errorMessage.' + hasError('title') | translate}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="hytx-col-12">
                            <div class="UploadImageBoxCover">
                                <i class="icon icon-account_circle" *ngIf="!imgPreview"></i>
                                <div class="avatar">
                                  <img [src]="imgPreview" alt="Profile Image" *ngIf="imgPreview">
                                </div>
                                <div class="browseBtnTxt"><span (click)="file.click()">{{'Common.'+imageText | translate}}</span></div>
                                 <input type="file" name="myfile"  formControlName="image_file" #file accept="image/*" (change)="fileChange($event)" (click)="file.value = null" class="display-none">                                 
                                 <div class="mat-error error-div" *ngIf="imageError">
                                    {{imageError}}
                                 </div>
                              </div>
                        </div>
                    </div>
                    <div class="hytx-row">
                        <div class="hytx-col-12 hytx-from-buttons">
                            <button class="hytx-btn hytx-btn-orange" type="submit" [disabled]="clientForm.invalid">
                                <span *ngIf="!Id">{{ 'Common.add'  | translate}}</span>
                                <span *ngIf="Id">{{ 'Common.update'  | translate}}</span>
                            </button>
                            <button class="hytx-btn hytx-btn-black-outline" routerLink="/admin/client">{{ 'Common.cancel'  | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Admin Form End -->
        </div>        
    </div>
</div>