<div class="login-page">
    <div class="content px20">
        <div class="logo"><img src="assets/images/logo.png" alt=""></div>
        <form class="login-form" form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" autocomplete="off">
        <!-- <div class="loginBoxTitle">
          <h2 class="app-name">{{'Common.forgotPassword' | translate}}</h2>
        </div> -->
        <div class="loginBoxSubTitle">
          <p>{{'Common.forgotPart1' | translate}} <br>{{'Common.forgotPart2' | translate}}</p>
        </div>
        <div fxLayout="row">
          <div fxFlexFill>
            <mat-form-field class="w-100">
                <input matInput placeholder="{{'Common.emailAddress' | translate}} *" [(ngModel)]="account" formControlName="email" [errorStateMatcher]="matcher" autocomplete="off"/>
                <mat-error *ngIf="hasError('email')">{{'errorMessage.' + hasError('email') | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlexFill class="bottomButtons">
            <button type="submit" class="hytx-btn hytx-btn-orange hytx-btn-lg w-100" [disabled]="forgotPasswordForm.invalid" >{{'Common.submit' | translate}}</button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlexFill class="bottomButtonsLinks text-center">
            <a href="javascript:void(0)" routerLink="../login">{{'Common.backToLogin' | translate}}</a>
          </div>
        </div>
  
      </form>
    </div>
  </div> 